* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  aside {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #area {
    padding: 10px;
    background-color: #ddda96;
  }
  
  .linha {
    display: flex; /* cada linha será horizontal */
  }
  
  ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin: 1px;
  }
  
  .quadrado {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border-radius: 5px;
  }
h2 {
    width: 80px;
    text-align: center;
}

.ativo {
    background-color: #93904d;
}
.quadrado:hover {
    cursor: pointer;
    background-color: rgb(205, 215, 114); /* highlight opcional */
  }
  .movimento {
    outline: 3px solid yellow;
    background-color: rgba(255, 255, 0, 0.3);
  }
  .selecionado {
    border: 2px solid blue;
  }